body {
	background: #FFB4E2;
	font-size: 15px;
	font-family: "Arial", sans-serif;
	min-width: 320px;
}

.wrapper {
	width: 940px;
	margin: 10px auto;
}

form {
	background: #fff;
	width: 300px;
	margin: auto;
	padding: 30px 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h2, h3, h4 {
	text-align: center;
}

button {
	background: #fff;
	width: 100%;
	border: 1px solid #FFB4E2;
	padding: 6px;
	font-family: "Arial", sans-serif;
}

button:hover {
	background: #FFB4E2;
	transition-duration: 1s;
}

.btn {
	background: #fff;
	width: 100%;
	border: 1px solid #FFB4E2;
	padding: 6px;
	font-family: "Arial", sans-serif;
}

.btn:hover {
	background: #FFB4E2;
	transition-duration: 1s;
}

